body {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(#43B6AC, #00ffff);
    overflow: hidden;
}

#calculator {
    margin: auto;
    width: 66vw;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr;
}

.single {
    grid-column-start: span 1;
}

.double {
    grid-column-start: span 2;
}

#screen {
    grid-column-start: span 4;
}

.input {
  background-color: grey;
}